/* -----Headarea----- */

.typepage-wrapper-headarea {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.typepage-closing-button {
	font-size: 3.6rem;
	color: white;
	background-color: rgb(48, 48, 48);
	border: none;
	font-weight: 500;
	cursor: pointer;
}

/* Type Section with Buttons */

.typepage .heading {
	display: flex;
	justify-content: center;
}

.typepage h1 {
	text-align: center;
	color: #ffcd02;
	margin-top: 2.4rem;
	font-size: 3.6rem;
	width: 85%;
	border-bottom: #2c72b89b 1px solid;
}
.typepage-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	gap: 1.6rem;
	margin-top: 3.6rem;
}

.buttons {
	padding: 1rem;
	width: 150px;
	font-size: 1.4rem;
	color: white;
	border-radius: 0.5rem;
	border: none;
	font-weight: 800;
	cursor: pointer;
	background-color: #ffcd02;
	color: blue;
	text-transform: capitalize;
}

.button-green {
	background-color: #3bb900;
}
.button-dark {
	background-color: black;
}
.button-darkblue {
	background-color: blue;
}
.button-yellow {
	background-color: #ffe600;
}
.button-lightpink {
	background-color: lightpink;
}
.button-red {
	background-color: red;
}
.button-orange {
	background-color: orange;
}
.button-lightgray {
	background-color: rgb(168, 168, 168);
}
.button-purple {
	background-color: rgb(94, 1, 94);
}
.button-darkgreen {
	background-color: darkgreen;
}
.button-brown {
	background-color: brown;
}
.button-lightblue {
	background-color: lightblue;
}
.button-lightgreen {
	background-color: rgb(85, 216, 85);
}
.button-lightpurple {
	background-color: rgb(148, 1, 148);
}
.button-pink {
	background-color: pink;
}
.button-darkyellow {
	background-color: rgb(148, 113, 0);
}
.button-blue {
	background-color: rgb(72, 72, 245);
}

.cancel-button {
	background-color: #fff;
	border-radius: 20px;
	/* outline: blue 2px solid; */
}

.cancel-button:hover {
	background-color: #ffcd02;
	transition: 0.3s;
}
